@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Permanent+Marker&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background: linear-gradient(to right, #f6fcfb, #e6f7f5);
  margin: 0;
  padding: 0;
  height: 75px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 2;
}

.logo-image img{
  width: 75px;
  position: absolute;
  left: 50px;
}

.navbar .navbar-links{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  min-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbar-links a{
  margin-right: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-family:sans-serif;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  transition: color .3s;
}



.navbar .navbar-links a:hover{
  color: rgb(113, 203, 175);
}

#zabiegi-nav{
  position: relative;
}

.zabiegi-oferta {
  position: absolute;
  top: 100%; 
  left: 0;
  transform: translatey(8%); 
  width: 400px; 
  background-color: #fff; 
  z-index: 10; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: none;
}

.zabiegi-oferta ul{
  list-style: none;
  line-height: 25px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
}

.sidebar .navbar-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 60px;
  line-height: 50px;
}

.sidebar .navbar-links li{
  width: 100%;
  
}

.sidebar .navbar-links{
text-align: center;
}

.sidebar .navbar-links a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-family:sans-serif;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  transition: color .3s;
}

.sidebar .navbar-links a:hover{
 color: rgb(113, 203, 175);
}

.menu-icon{
  height: 40px;
  width: 40px;
  position: absolute;
  right: 30px;
  top: 15px;
  cursor: pointer;
}

.cross-icon{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.sidebar #zabiegi-nav {
  position: relative; 
}

.sidebar .zabiegi-oferta {
  position: absolute;
  top: 20px; 
  left: -93px;
  width: 250px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: none;
}

@media (max-width:1100px){
  .navbar .navbar-links{
    display: none;
  }
}

@media (min-width:1101px){
  .menu-icon{
    display: none;
  }
}


